.footer {
    background-color: rgb(0, 213, 255);
    position: relative;
    top: 110vh;
    height: 50vh;
    h2{
        position:relative;
        top: 1vh;
        left: 3vw;
    }
  .footerData {
    display: flex;
    justify-content: space-evenly;
    .logo img {
      width: 10vw;
      height: 20vh;
      position: relative;
      right: 10vw;
      top: 7vh;
    }
    .Info{
        position: relative;
        right: 8vw;
        .call,.mail,.address{
            margin-top: 5vh;
            display: flex;
            p{
                margin-left: 1vw;
            }
        }
    }


    .social{
        .socialIcons{
            display: flex;
            justify-content: space-between;
        }
    }
  }
}

.icon {
    font-size: 2rem;
  }
